.ConfirmationPage {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.confirmation-box {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 600px;
  width: 450px;
  margin-top: 50px;
  padding-top: 2%;

  background-color: #FFFFFF;
  border-radius: 18px;
}

.row-container {
  display: flex;
  flex-direction: row;
}
